@import "tailwindcss";

* {
  flex-shrink: 0;
}

html {
  --page-min-width: 20rem;
  --canvas-header-fade: 2rem;
  min-width: var(--page-min-width);
}

@layer base {
  /* Always use pointer cursor on buttons. */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --font-sans: "Inter", sans-serif;

  --color-*: initial;
  --color-background: #0f1115;
  --color-background-raised: #191d24;
  --color-foreground: rgba(235, 241, 255, 0.8);
  --color-foreground-strong: #fff;
  --color-foreground-weak: rgba(214, 228, 255, 0.6);
  --color-accent: rgb(77, 166, 255);
  --color-accent-hover: rgb(102, 179, 255);
  --color-accent-active: rgb(51, 153, 255);
  --color-on-accent: black;
  --color-soft-border: rgba(173, 201, 255, 0.2);
  --color-soft: rgba(163, 194, 255, 0.1);
  --color-soft-hover: rgba(173, 201, 255, 0.2);
  --color-soft-active: rgba(184, 207, 255, 0.3);
  --color-field-border: rgba(204, 221, 255, 0.5);
  --color-subtle-border: rgba(163, 194, 255, 0.1);
  --color-shadow: black;

  --shadow-*: initial;
  --shadow-mobile-sidebar: 0rem 0rem 1rem 0.5rem rgba(0, 0, 0, 0.6);

  --leading-*: initial;
  --leading-none: 0em;
  --leading-tight: 0.25em;
  --leading-snug: 0.375em;
  --leading-normal: 0.5em;
  --leading-relaxed: 0.625em;
  --leading-loose: 1em;

  --breakpoint-*: initial;
  --breakpoint-lg: 60rem;
}

@custom-variant sidebar-open {
  .sidebarOpen & {
    @slot;
  }
}
