@import "tailwindcss";

* {
  flex-shrink: 0;
}

html {
  --page-min-width: 20rem;
  min-width: var(--page-min-width);
}

@layer base {
  /* Always use pointer cursor on buttons. */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --font-sans: "Inter", sans-serif;

  --color-*: initial;
  --color-background: #0f1115;
  --color-background-raised: #191d24;
  --color-foreground: rgba(235, 241, 255, 0.8);
  --color-foreground-strong: #fff;
  --color-foreground-weak: rgba(214, 228, 255, 0.6);
  --color-accent: rgb(102, 179, 255);

  --leading-*: initial;
  --leading-none: 0em;
  --leading-tight: 0.25em;
  --leading-snug: 0.375em;
  --leading-normal: 0.5em;
  --leading-relaxed: 0.625em;
  --leading-loose: 1em;

  --breakpoint-*: initial;
  --breakpoint-lg: 60rem;
}

@custom-variant sidebar-open {
  .sidebarOpen & {
    @slot;
  }
}
