@use "@/other/css-template/import" as template;

.menu {
  background-color: var(--color-paper-20);
  border-top: 1px solid var(--color-ink-10);
}

.expandButton,
.empty {
  padding: 1rem;
}

.empty {
  font-style: italic;
  color: var(--color-ink-60);
}

.expandButton {
  @include template.button-hover;
  @include template.content-text-icon;
  @include template.row;
  --button-rounding: 0;

  p {
    flex-grow: 1;
    font-weight: bold;
    color: var(--color-ink-100);
  }
  :global(.icon) {
    font-size: 1.2rem;

    &.up {
      transform: rotate(-90deg);
    }
    &.down {
      transform: rotate(90deg);
    }
  }
}
.options {
  padding: 1rem 1rem 1rem 1rem;
  gap: 1rem;
  overflow-y: auto;
  flex-shrink: 1;
}

.menu.expanded .expandButton {
  padding-bottom: 0.5rem;
}

.switch {
  @include template.checkbox-switch(
    $graphic-class: "switchGraphic",
    $content-class: "switchContent"
  );

  .switchContent {
    @include template.content-text;
    margin-left: 1rem;
  }
}

@media (min-width: 60rem) {
  // Desktop-only styles.

  .options {
    padding: 1rem 2rem 1.5rem 2rem;
  }
  .expandButton,
  .empty {
    padding: 1rem 2rem;
  }
}
