@use "../other/css-template/import" as template;

.sidebar {
  border-right: 1px solid var(--color-ink-10);
  min-height: 0;
}
.content {
  margin-top: var(--extra-margin, 0rem);
  padding: 2rem 0;
  overflow-y: auto;
  flex-shrink: 1;

  * {
    list-style-type: none;
  }
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-ink-100);
  padding: 0 1rem;
}

.entry,
.collectionButton {
  @include template.content-text;
  --button-rounding: 0;

  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-areas: "icon text";
  column-gap: 0.5rem;
  align-items: center;
  padding: 0rem 1rem 0rem calc(1rem + var(--depth) * 1rem);
  width: 100%;
  height: 2rem;

  :global(.oneLine),
  p {
    grid-area: text;
    flex-shrink: 1;
    min-width: 0;
  }
  svg {
    grid-area: icon;
    font-size: 1rem;

    transition: transform 0.1s;

    &.open {
      transform: rotate(90deg);
    }
  }

  &:not(.selected) {
    @include template.button-hover;
  }
  &.selected {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--color-accent);
      left: 0;
      top: 0rem;
      bottom: 0rem;
      width: 4px;
    }
    p {
      font-weight: bold;
      color: var(--color-ink-100);
    }
  }
}

// Only entries should use the filled neutral button style when selected,
// collections should always use the hover style.
.entry.selected {
  @include template.button-filled-neutral;
}
.collectionButton {
  @include template.button-hover;
}

.collection {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--color-ink-20);
    top: 2rem;
    bottom: 0.5rem;
    left: calc(1.25rem + var(--depth) * 1rem);
  }
}

@media (max-width: 59.999rem) {
  // Mobile-only styles.

  .sidebar {
    box-shadow: 0rem 0rem 1rem 0.5rem var(--color-shadow-20);
  }
}
