$canvas-header-fade: 3rem;

.header {
  padding: 2rem 1rem;

  padding-bottom: $canvas-header-fade;
  background: linear-gradient(
    var(--color-paper-10) calc(100% - $canvas-header-fade),
    transparent
  );

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-ink-100);
  }
  p {
    margin-top: 1rem;
  }
}

@media (min-width: 60rem) {
  // Desktop-only styles.

  .header {
    padding: 2rem;
    padding-bottom: $canvas-header-fade;
  }
}
