@use "@/other/css-template/import" as template;

.options {
  background-color: var(--color-paper-20);
  border-top: 1px solid var(--color-ink-10);

  padding: 1rem;
  gap: 1rem;

  > p {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--color-ink-100);
  }
}

.switch {
  @include template.checkbox-switch(
    $graphic-class: "switchGraphic",
    $content-class: "switchContent"
  );

  .switchContent {
    @include template.content-text;
    margin-left: 1rem;
  }
}

@media (min-width: 60rem) {
  // Desktop-only styles.

  .options {
    padding: 1.5rem 2rem;
  }
}
